@model ASP.Models.PersonListViewModel

<!DOCTYPE html>
<html>

<head>
    <title>Index 2</title>

</head>
<body>

    @foreach (var item in Model.People)
    {
        <div>
            <h1>ID:@item.Id</h1>
            <h1>Firstname : @item.Name</h1>
            <h1>Lastname: @item.Surname</h1>
            <h1>Age: @item.Age</h1>
            <hr />
            <hr />
        </div>
    }
    <a asp-action="Add">Create New</a>
</body>
</html>